<div class='background'>
<div class="login-page">
  <div class="form" ng-controller="LoginController">
    <form>
        Kasetsart University
      <img src="img/ku-logo.png" width="80%" height="80%">
      <input ng-model = 'username' type="text" placeholder="username"/>
      <input ng-model = 'password' type="password" placeholder="password"/>
      <button ng-click="authenticate()">login</button>
      <p class="message"> username: 5610546788</p>
    </form>
  </div>
</div>
</div>